# Configurações do Firebase Cloud Sync
# Renomeie este arquivo para ".env" e preencha as chaves abaixo com os dados do seu banco de dados na Nuvem.

FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
